{% load static %}


<html>
    <head>
        <link rel="stylesheet" href="{% static 'ecom/style.css' %}"> 
    </head>
    <body>
        <nav>
        <div>
            <div>
                <div>
                    <div class = "flex">
                        <img class="w-8 h-8" src="{% static 'ecom/images/shop.png' %}" alt="shop" />
                        <span class= "text-xl"> Adletssss shop</span>
                    </div>
                </div>
            </div>
        </div>
        </nav>
           <h2>
            <!-- <a href="/hello/{{item.id}}"></a> -->
                {%for item in items%}
                <a href="{%url 'ecom:detail' item.id%}">
                Id:{{item.id}}  Имя :{{item.name}}  Цена: {{item.price}} Прим:{{item.description}} <br/>
                </a>
                {% endfor %}
           </h2>
    </body>
</html>